{% extends 'base.html.twig' %}

{% block title %}Hello VoituresController!{% endblock %}

{% block body %}
    <div class="container  mx-auto">
        {{ component('Alert', {
                bgcouleur: 'primary',
                textcouleur: 'primary',
                message: 'hello message de bien venue pour les voitures !!'
        })}}    
    
    </div>
{# {{ dump(Voitures) }} #}
    {{ component('datatables', {
                title: "je suis un titre",
                description: "je suis une description",
                content: "je suis un contenue",
                Voitures: Voitures,
    })}}

{% endblock %}
