{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!{% endblock %}

{% block body %}
    <div class="container  mx-auto">
        {{ component('Alert', {
            bgcouleur: 'primary',
            textcouleur: 'primary',
            message: 'hello message de bien venue pour les utilisateurs !!'
        }) }}
    </div>

{% endblock %}
