<div class="mb-3">
  <div class="relative mb-4 flex w-full flex-wrap items-stretch">
    <input
      id="datatable-search-input"
      type="search"
      class="relative m-0 -mr-0.5 block w-[1px] min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="button-addon1" />
  </div>
</div>
{# <div id="datatable"></div>   #}
<pre>
  {# {{ dump(this->Voitures) }} #}
  {# {{ dump(Voitures) }} #}
  
</pre>
    <div id="datatable" data-te-datatable-init>
      <table>
        <thead>
          <tr>
            <th>Type Vehicule</th>
            <th>Marque Vehicule</th>
            <th>Modele Vehicule</th>
            <th>Cv Fiscale Vehicule</th>
            <th>Num Chasse Vehicule</th>
            <th>Martricule Vehicule</th>
          </tr>
        </thead>
        <tbody>
          {% for Voiture in Voitures %}
          <tr>
            <td>{{ Voiture.TypeVehicule}}</td>
            <td>{{ Voiture.MarqueVehicule}}</td>
            <td>{{ Voiture.ModeleVehicule}}</td>
            <td>{{ Voiture.CvFiscaleVehicule}}</td>
            <td>{{ Voiture.NumChasseVehicule}}</td>
            <td>{{ Voiture.MartriculeVehicule}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>